*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

header{
    background-color: rgb(0, 0, 0);
    position:fixed;
    width:100%;
    top:0;
}

nav{
    display:flex;
    justify-content:space-around;
    width:100%;
    height: 90px;
}

nav ul{
    display:flex;
    justify-content:center;
    gap: 120px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

nav li{
    display:inline-flex;
    align-items:center;
}

nav li a:hover{
    color:orangered;
    transform: scale(1.1);
}

main{
    margin-top: 90px;
    height: 1100px;
    background-color:rgb(186, 189, 150,0.5);
    width: 100%;
}

section#preguntas{
    padding-top: 40px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-family: 'Roboto', sans-serif;
}

section#preguntas h2{
    font-size:40px;
    color: rgb(34, 92, 37);
}

section#preguntas h4{
    font-size: 22px;
}

section#preguntas p{
    font-size: 16px;
}

section.preguntaForm{
    text-align:center;
    padding: 20px;
    width: 500px;
    margin: auto;
    background-color: rgba(248, 231, 210, 0.8);
    font-family: 'Roboto', sans-serif;
}

section.preguntaForm input, section.preguntaForm label{
    display: block;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    width: 85%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
}

section.preguntaForm input[type="submit"]{
    background-color: rgb(186, 189, 150,0.5);
    border-bottom: 2px solid #5c4401;
}

section.preguntaForm input[type="text"], section.preguntaForm input[type="email"]{
    border-bottom: 2px solid #5c4401;
} 

.botonS:hover{
    transform: scale(1.05);
}

footer{
    padding:20px;
    text-align:center;
    background-color: rgb(0, 0, 0);
    width:100%;
}

footer ul{
    list-style:none;
    display:inline-flex;
    align-items:center;
    gap: 45px;
}

.redes{
    width: 60px;
}

.redes:hover{
    transform: scale(1.2);
}

.logoFooter:hover{
    transform: scale(1.1);
}